/* ***************** */
/*  CUSTOM CSS HERE  */
/* ***************** */
	/* logo banner div on top not used right now*/
div#logoBanner
{
 height: 50px;
 font-size:3em;
 display:table;
}

div#logoBanner div#logo {
	float:left;
	height: 50px;
	background-size: 45px 40px;
	background-image: url(../img/logo-snik.png);
	background-position: left center;
	background-repeat: no-repeat;
	cursor: pointer;
}

div#logoBanner div#title
{
 display:table-cell;
 vertical-align: middle;
 width:100%;
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution : 192dpi) {
	div#logoBanner div#logo {
		background-image: url(../img/logo-snik@2x.png);
	}
}

/* ********************************** */
/*  CUSTOM FOOTER, HIDDEN BY DEFAULT  */
/* ********************************** */
#customFooter {
	display: none;
}

footer #linkBack {
	display:block;
	background-size: 45px 40px;
	height:40px;
	width:45px;

	background-image: url(../img/logo-snik-alpha.png);
	background-position: 0 0; 
	background-repeat: no-repeat;
}

